<body class="splash" background="http://bit.ly/2glFiLQ">
<div class="sfimg">
<!-- change this div into a modal -->

<div class="div-container">
  <img class="logo" src="http://schaui6.github.io/logo.jpg" height="100px" width="100px">

  <form action="/" method="post">
    <input type="hidden" name="user[email]" value="eddy@gmail.com">
    <input type="hidden" name="user[password]" value="password">
    <div class="">
      <input type="submit" class="btn-login" value="Demo: Log in as Admin"</input>
    </div>
  </form>

  <form action="/" method="post">
    <input type="hidden" name="user[email]" value="jane@gmail.com">
    <input type="hidden" name="user[password]" value="password">
    <div class="">
      <input type="submit" class="btn-login" value="Demo: Log in as Client"</input>
    </div>
  </form>
</div>


</div>

</body>
