<!-- Flash message when successfully updating/destroying a user -->
<div class="flash-container">
  <% if flash[:success] %>
    <div class="alert alert-success flash-message"><%= flash[:success] %></div>
  <% elsif flash[:error] %>
    <div class="alert alert-danger flash-message"><%= flash[:error] %></div>
  <% end %>
</div>
<!-- End of flash message -->